html, body {
    margin: 10px;
    height: 100%;
    font-family: 'Cascadia Code', sans-serif;
    font-size: 18px;
    color: white;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

html {
    background: url('background.jpg') fixed;
    background-size: 100%;
}
